.auth-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.auth-box {
  background-color:  rgb(226, 224, 224);
  padding: 40px 30px;
  border-radius: 12px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
  width: 350px;
  text-align: center;
}

.auth-box h2 {
  margin-bottom: 25px;
  color: #333;
}

.auth-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.auth-input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 15px;
}

.auth-button {
  padding: 10px;
  background-color: #2980b9;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}

.auth-button:hover {
  background-color: #1c5980;
}

.auth-toggle {
  margin-top: 15px;
  font-size: 14px;
  color: #555;
}

.auth-toggle span {
  color: #2980b9;
  cursor: pointer;
  font-weight: bold;
  text-decoration: underline;
}
